<div class="container" style="font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Londrina Solid', cursive; background-color: #c5c6c7; max-height:300vh; border-radius: 12px;">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-info me-md-2" type="button" routerLink="" style="border:solid #1F2833; margin: 1vw;">Inicio
    </button>
    <button class="btn btn-info me-md-2" type="button" routerLink="/profile"
      style="border:solid #1F2833; margin: 1vw;">Perfil
    </button>

    <button class="btn btn  me-md-2" style=" margin: 1vw; color: aqua; background-color:#1F2833 ;">
      <h3>Perfil demográfico</h3>
    </button>

    <button class="btn btn-info me-md-2" type="button" routerLink="/profile-sport"
      style="border:solid #1F2833; margin: 1vw;">Perfil deportivo
    </button>
    <button class="btn btn-info me-md-2" type="button" routerLink="/packages"
      style="border:solid #1F2833; margin: 1vw;">Planes
    </button>


  </div>
  <hr style="height: 2px; margin: 1%;padding: 0; ">
  <div style="padding-bottom: 2vh;">

    <div class="container" style="min-height: 560px; font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Londrina Solid', cursive;">

      <div class="row justify-content-center">
        <div class="col-lg-5" style="width: 50.1%;">
          <div class="card shadow-lg border-0 rounded-lg mt-5">

            <div class="card-header " style="background-color:  #c5c6c7;">
              <h2 style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                  font-family: 'Londrina Solid', cursive;">Perfil demográfico</h2>
              <div class="card-body shadow-lg" style="background-color:  #1F2833;">

                <form (submit)="userRegistration(albumForm.value)" [formGroup]="albumForm">
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="fname" id="inputName" name="fname" 
                          type="text" placeholder="fname" required minlength="3" />
                        <label for="fname">Nombres</label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="flastname" id="inputlname" name="flastname" type="text"
                          placeholder="flastname"  required />
                        <label for="flastname">Apellidos</label>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="alert alert-danger" *ngIf="firstname.errors?.required && firstname.touched">Por favor
                    ingrese los nombres</p>
                  <p class="alert alert-danger" *ngIf="firstname.errors?.minlength && firstname.touched">Por favor
                    ingrese mínimo 3 caracteres.</p> -->

                  <div class="row">
                    <div class="col">
                      <!-- <label for="fname" style="color: white;">Tipo identificación</label> -->
                      
                      <div class="form-floating mb-3">
                        <select class="custom-select form-control" formControlName="tipoIdentificacionSelected" id="inputGroupSelectTipoIdentificacion" (change)="onChangeTypeIdentification($event.target)">
                          <option [value]="sinSeleccionar"> --Seleccione-- </option>
                          <option value="1">Tarjeta de identidad</option>
                          <option value="2">Cedula de ciudadanía</option>00
                        </select>
                        <label for="lblPaisNacimiento">Tipo Identificación</label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="noIdentification" id="inputNoId" name="noIdentification" type="text"
                          placeholder="noIdentification"  required />
                        <label for="noIdentification">No. Identificación</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <select class="custom-select form-control" formControlName="tipoCountrySelected" id="inputGroupSelectPais" (change)="onChangeCountry($event.target)">
                          <option [value]="sinSeleccionar"> --Seleccione-- </option>
                          <option value="CO">Colombia</option>
                          <option value="BR">Brasil</option>
                          <option value="UR">Uruguay</option>
                          <option value="CH">Chile</option>
                          <option value="VN">Venezuela</option>
                          <option value="EC">Ecuador</option>
                          <option value="PR">Peru</option>
                          <option value="PG">Paraguay</option>
                          <option value="BL">Bolivia</option>
                        </select>
                        <label for="lblPaisNacimiento">Pais Nacimiento</label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="ciudadNacimiento" id="inputCiudadNacimiento" name="ciudadNacimiento" type="text"
                        placeholder="ciudadNacimiento"  required />
                      <label for="ciudadNacimiento">Ciudad Nacimiento</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="userage" id="age" type="date" placeholder="age" name="userage" 
                         required />
                        <label for="age">Fecha Nacimiento</label>
                      </div>
                      <!-- <p class="alert alert-danger" *ngIf="userage.errors?.required && userage.touched">Por favor
                        ingrese la edad
                      </p> -->
                    </div>
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="usergenderM" value="M" id="flexRadioDefault1"
                           formControlName="usergenderM"  required>
                        <label class="form-check-label" for="flexRadioDefault1"
                          style="background-color: whitesmoke; border-radius: 3px; width: 50%; text-align: center;">
                          Masculino </label>

                      </div>
                      <div class="form-check" style="margin-top: 10px;">
                        <input class="form-check-input" type="radio" name="usergenderF" value="F" id="flexRadioDefault2"
                            formControlName="usergenderF" required>
                        <label class="form-check-label" for="flexRadioDefault2"
                          style="background-color: whitesmoke; border-radius: 3px; width: 50%;  text-align: center;">
                          Femenino
                        </label>
                      </div>
                    </div>
                    <!-- <p class="alert alert-danger" *ngIf="usergender.errors?.required && usergender.touched">Por favor
                      seleccione un genero</p> -->
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="fpeso" id="inputfPeso" name="fpeso" 
                          type="number" placeholder="fpeso" required minlength="3" />
                        <label for="fpeso">Peso</label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="faltura" id="inputfAltura" name="faltura" type="number"
                          placeholder="faltura"  required />
                        <label for="faltura">Altura</label>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="alert alert-danger" *ngIf="faltura.errors?.required && faltura.touched">Por favor
                    ingrese la altura</p> -->

                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <select class="custom-select form-control" formControlName="tipoCountryResidenciaSelected" id="inputGroupSelectPaisResidencia" (change)="onChangeCountryResidencia($event.target)">
                          <option [value]="sinSeleccionar"> --Seleccione-- </option>
                          <option value="CO">Colombia</option>
                          <option value="BR">Brasil</option>
                        </select>
                        <label for="lblPaisResidencia">Pais Residencia</label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" formControlName="ciudadResidencia" id="inputCiudadResidencia" name="ciudadResidencia" type="text"
                        placeholder="ciudadResidencia"  required />
                      <label for="ciudadResidencia">Ciudad Residencia</label>
                      </div>
                    </div>
                  </div>



                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button class=" aling-button btn btn-info btn-block" value="Register" type="submit"
                  
                      style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                              font-family: 'Londrina Solid', cursive; margin-left: auto;">
                      Guardar</button> &nbsp; &nbsp;
                    <button class="btn btn-info btn-block" value="Register" type="submit"
                      style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                              font-family: 'Londrina Solid', cursive; background-color: #FF4447;">
                      Cancelar</button>
                    <h5 style="color: rgb(255, 30, 0);">{{msg}}</h5>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center py-3">
                <div class="small"><a routerLink="/login" style="color:  #1F2833;">¿Tiene cuenta? Iniciar Sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
