<div class="container" style="font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Londrina Solid', cursive; background-color: #c5c6c7; max-height:300vh; border-radius: 12px;">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-info me-md-2" type="button" routerLink="" style="border:solid #1F2833; margin: 1vw;">Inicio
    </button>
    <!-- <button class="btn btn  me-md-2" style=" margin: 1vw; color: aqua; background-color:#1F2833 ;">
      <h3>Perfil</h3>
    </button> -->

    <button class="btn btn-info me-md-2" type="button" routerLink="/profile"
      style="border:solid #1F2833; margin: 1vw;">Perfil
    </button>


    <button class="btn btn-info me-md-2" type="button" routerLink="/profile-basic"
      style="border:solid #1F2833; margin: 1vw;">Perfil demográfico
    </button>

    <button class="btn btn  me-md-2" style=" margin: 1vw; color: aqua; background-color:#1F2833 ;">
      <h3>Perfil deportivo</h3>
    </button>


    <button class="btn btn-info me-md-2" type="button" routerLink="/packages"
      style="border:solid #1F2833; margin: 1vw;">Planes
    </button>


  </div>
  <hr style="height: 2px; margin: 1%;padding: 0; ">
  <div style="padding-bottom: 2vh;">

    <div class="container" style="min-height: 560px; font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Londrina Solid', cursive;">

      <div class="row justify-content-center">
        <div class="col-lg-5" style="width: 50.1%;">
          <div class="card shadow-lg border-0 rounded-lg mt-5">

            <div class="card-header " style="background-color:  #c5c6c7;">
              <h2 style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                  font-family: 'Londrina Solid', cursive;">Perfil deportivo</h2>
              <div class="card-body shadow-lg" style="background-color:  #1F2833;">

                <form (submit)="userRegistration(f)" #f="ngForm">
                  <label class="lbl-white">Perfil deportivo</label>
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" id="inputVo2max" #fvo2max="ngModel" name="vo2Max" ngModel
                          type="text" placeholder="fname" required minlength="3" />
                        <label for="fname">Vo2 Max</label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating mb-3">
                        <input class="form-control" id="inputftp" #ftp="ngModel" name="ftpActual" type="text"
                          placeholder="lname" ngModel required />
                        <label for="lname">FTP Actual</label>
                      </div>
                    </div>
                  </div>
                  <p class="alert alert-danger" *ngIf="fvo2max.errors?.required && fvo2max.touched">Por favor
                    ingrese los valor del perfil deportivo</p>
                  <p class="alert alert-danger" *ngIf="fvo2max.errors?.minlength && fvo2max.touched">Por favor
                    ingrese mínimo 3 caracteres.</p>

                  <div class="row">
                    <div class="col">

                      <label class="lbl-white">Molestias</label>
                      <!-- <label for="fname" style="color: white;">Tipo identificación</label> -->
                      <div class="form-check" *ngFor="let item of hasslee" >

                        <input class="form-check-input" type="checkbox" name="gender" value="{{item.id}}"
                          id="flexRadioDefault1" ngModel #usergender="ngModel" required>
                        <label class="form-check-label" for="flexRadioDefault1"
                          style="background-color: whitesmoke; border-radius: 3px; width: 50%; text-align: center;">
                          {{item.descripcion}} </label>

                      </div>

                    </div>

                    <!-- <p class="alert alert-danger" *ngIf="usergender.errors?.required && usergender.touched">Por favor
                      seleccione una molestia</p> -->
                  </div>

                  <div class="row">
                    <div class="col">

                      <label class="lbl-white">Lesiones o incapacidades</label>
                      <!-- <label for="fname" style="color: white;">Tipo identificación</label> -->
                      <div class="form-check" *ngFor="let item of lesion">
                        <input class="form-check-input" type="checkbox" name="gender" value="{{item.id}}"
                          id="flexRadioDefault1" ngModel #usergender="ngModel" required>
                        <label class="form-check-label" for="flexRadioDefault1"
                          style="background-color: whitesmoke; border-radius: 3px; width: 50%; text-align: center;">
                          {{item.descripcion}} </label>

                      </div>

                    </div>
                  </div>

                  <!-- begin:Table -->
                  <label class="lbl-white">Historia deportiva</label>
                  <div class="table-responsive angular-bootstrap-table lbl-white">
                    <table class="table table-head-custom table-vertical-center overflow-hidden">
                      <thead class="lbl-white">
                        <th>ID</th>
                        <th>FIRSTNAME</th>
                        <th>LASTNAME</th>
                        <th>EMAIL</th>
                        <th>GENDER</th>
                        <th>ACTIONS</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>sd</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <!-- edit -->
                            <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                              <span cacheSVG="true"
                              class="svg-icon svg-icon-md svg-icon-primary">
                            </span>
                            </a>
                            <!-- delete -->
                            <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm">
                              <span cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-danger">
                              </span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- end: Table -->



                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button class=" aling-button btn btn-info btn-block" value="Register" type="submit"
                      [disabled]="f.invalid"
                      style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                              font-family: 'Londrina Solid', cursive; margin-left: auto;">
                      Guardar</button> &nbsp; &nbsp;
                    <button class="btn btn-info btn-block" value="Register" type="submit"
                      style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                              font-family: 'Londrina Solid', cursive; background-color: #FF4447;">
                      Cancelar</button>
                    <h5 style="color: rgb(255, 30, 0);">{{msg}}</h5>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center py-3">
                <div class="small"><a routerLink="/login" style="color:  #1F2833;">¿Tiene cuenta? Iniciar Sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
