<div class="container" style="font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Londrina Solid', cursive; background-color: #c5c6c7; max-height:300vh; border-radius: 12px;">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-info me-md-2" type="button" routerLink="" style="border:solid #1F2833; margin: 1vw;">Inicio
    </button>
    <!-- <button class="btn btn  me-md-2" style=" margin: 1vw; color: aqua; background-color:#1F2833 ;">
      <h3>Perfil</h3>
    </button> -->

    <button class="btn btn-info me-md-2" type="button" routerLink="/profile"
      style="border:solid #1F2833; margin: 1vw;">Perfil
    </button>


    <button class="btn btn-info me-md-2" type="button" routerLink="/profile-basic"
      style="border:solid #1F2833; margin: 1vw;">Perfil demográfico
    </button>

    <button class="btn btn  me-md-2" style=" margin: 1vw; color: aqua; background-color:#1F2833 ;">
      <h3>Perfil deportivo</h3>
    </button>


    <button class="btn btn-info me-md-2" type="button" routerLink="/packages"
      style="border:solid #1F2833; margin: 1vw;">Planes
    </button>


  </div>
  <hr style="height: 2px; margin: 1%;padding: 0; ">
  <div style="padding-bottom: 2vh;">

    <div class="container" style="min-height: 560px; font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Londrina Solid', cursive;">

      <div class="row justify-content-center">
        <div class="col-lg-5" style="width: 50.1%;">
          <div class="card shadow-lg border-0 rounded-lg mt-5">

            <div class="card-header " style="background-color:  #c5c6c7;">
              <h2 style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                  font-family: 'Londrina Solid', cursive;">Perfil alimenticio</h2>
              <div  class="card-body shadow-lg" style="background-color:  #1F2833;">

                <form (submit)="userRegistrationProfileSport(albumForm.value)" [formGroup]="albumForm">
             
                    <div class="form-floating mb-3">
                <select class="custom-select form-control" formControlName="tipoDieta"  [(ngModel)]="sportSelected"  (change)="onChangeSport($event.target)">
                    <option [value]="sinSeleccionar"> --Seleccione-- </option>
                    <option *ngFor="let sport of categorias"  [value]="sport.id" name="sport.descripcion">{{sport.descripcion}}</option>
                    </select>
                <label for="inputApellido">Tipo dieta</label>
              </div>
        
                  <!-- <p class="alert alert-danger" *ngIf="fvo2max.errors?.required && fvo2max.touched">Por favor
                    ingrese los valor del perfil deportivo</p>
                  <p class="alert alert-danger" *ngIf="fvo2max.errors?.minlength && fvo2max.touched">Por favor
                    ingrese mínimo 3 caracteres.</p> -->

                  <div class="row">
                    <div class="col">

                      <label class="lbl-white">Alimentos no tolerados</label>
                      <!-- <label for="fname" style="color: white;">Tipo identificación</label> -->
                      <div class="form-check" *ngFor="let item of hasslee; index as i" >

                        <input class="form-check-input" formControlName="hassleefn" type="checkbox" name="hassleefn" value="{{item.id}}"
                          id="flexRadioDefault1" [checked]="categoryHasslee[i]"   (change)="checkChangeHasslee(item.id)" required>
                        <label class="form-check-label" for="flexRadioDefault1"
                          style="background-color: whitesmoke; border-radius: 3px; width: 50%; text-align: center;">
                          {{item.descripcion}} </label>

                      </div>

                    </div>

                    <!-- <p class="alert alert-danger" *ngIf="usergender.errors?.required && usergender.touched">Por favor
                      seleccione una molestia</p> -->
                  </div>

                  <div class="row">
                    <div class="col">

                      <label class="lbl-white">Alimentos de preferencia</label>
                      <!-- <label for="fname" style="color: white;">Tipo identificación</label> -->
                      <div class="form-check" *ngFor="let item of lesion ; index as i">
                        <input class="form-check-input" formControlName="lesionfn" type="checkbox" name="lesion" value="{{item.id}}"
                          id="flexRadioDefault1"  [checked]="categoryLesion[i]"   (change)="checkChangeLesion(item.id)"  required>
                        <label class="form-check-label" for="flexRadioDefault1"
                          style="background-color: whitesmoke; border-radius: 3px; width: 50%; text-align: center;">
                          {{item.descripcion}} </label>

                      </div>

                    </div>
                  </div>

                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button class=" aling-button btn btn-info btn-block" value="Register" type="submit"
            
                      style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                              font-family: 'Londrina Solid', cursive; margin-left: auto;">
                      Guardar</button> &nbsp; &nbsp;
                    <button class="btn btn-info btn-block" value="Register" type="submit"
                      style="text-align: center; font-family: 'Big Shoulders Stencil Display', cursive;
                                                              font-family: 'Londrina Solid', cursive; background-color: #FF4447;">
                      Cancelar</button>
                    <!-- <h5 style="color: rgb(255, 30, 0);">{{msg}}</h5> -->
                  </div>
                </form>

              </div>
              <div class="card-footer text-center py-3">
                <div class="small"><a routerLink="/login" style="color:  #1F2833;">¿Tiene cuenta? Iniciar Sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
